body {
    background-color: #f5f5f5;
    font-family: Arial;
}

h1 {
    color: blue;
}

p {
    font-size: 18px;
}

h2 {
    color: red;
    font-size: 20px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.transaction-table {
    margin-bottom: 20px;
}

.transaction-table th,
.transaction-table td {
    padding: 5px;
}

table {
    width: 20%;
    margin: 15px left;
    border-collapse: collapse;
}