{% extends "base.html" %}

{% block content %}
<h1>Transfer</h1>

<form method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>
        {{ form.choice_field.label }}<br>
        {{ form.choice_field(id="choice_field") }}
        {% for error in form.choice_field.errors %}
        <span>{{error }}</span>
        {% endfor %}
    </p>

    <!-- USER FIELDS -->
    <div id="user_field" style="display:none;">
        <p>
            {{ form.request_type.label }}<br>
            {{ form.request_type() }}
            {% for error in form.request_type.errors %}
            <span>{{error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.user_field.label }}<br>
            {{ form.user_field() }}
            {% for error in form.user_field.errors %}
            <span>{{error }}</span>
            {% endfor %}
        </p>
    </div>

    <!-- ACCOUNT FIELDS -->
    <div id="account_fields" style="display:none;">
        <p>
            {{ form.account1.label }}<br>
            {{ form.account1() }}
            {% for error in form.account1.errors %}
            <span>{{error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.account2.label }}<br>
            {{ form.account2() }}
            {% for error in form.account2.errors %}
            <span>{{error }}</span>
            {% endfor %}
        </p>
    </div>
    <div id="amount_field" style="display:none;">
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount() }}
            {% for error in form.amount.errors %}
            <span>{{error }}</span>
            {% endfor %}
        </p>
    </div>

    <p>{{ form.submit() }}</p>
</form>

<h1>Incoming Transactions</h1>

<div id="incoming-transactions">

    {% for transaction in user.get_incoming_transactions() %}

    <table class="transaction-table">
        <tr>
            <th>From</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Accept</th>
            <th>Decline</th>
        </tr>

        <tr>
            <td>{{ transaction.from_account.user.username }}</td>
            <td>{{ transaction.transaction_type.value }}</td>
            <td>{{ transaction.amount }}</td>

            <td>
                <form method="POST" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <input type="hidden" name="transaction_id" value="{{ transaction.id }}">

                    <button type="submit" name="action" value="accept">
                        Accept
                    </button>
                </form>
            </td>
            <td>
                <form method="POST" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <input type="hidden" name="transaction_id" value="{{ transaction.id }}">


                    <button type="submit" name="action" value="decline">
                        Decline
                    </button>
                </form>
            </td>
        </tr>
    </table>

    {% endfor %}

</div>

<h1>Outgoing Transactions</h1>

<div id="outgoing-transactions">

    {% for transaction in user.get_outgoing_transactions() %}

    <table class="transaction-table">
        <tr>
            <th>To</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Cancel</th>
        </tr>

        <tr>
            <td>{{ transaction.to_account.user.username }}</td>
            <td>{{ transaction.transaction_type.value.capitalize() }}</td>
            <td>{{ transaction.amount }}</td>

            <td>
                <form method="POST" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
                    <button type="submit" name="action" value="cancel">
                        Cancel
                    </button>
                </form>
            </td>
        </tr>
    </table>

    {% endfor %}

</div>


<h1>Completed Transactions</h1>
<!-- Include from in incoming transactions, to in outgoing transactions, and both in internal ones
     Make each transaction an individual table -->
<div id="completed_transactions">
    {% for transaction in user.get_completed_transactions() %}

    <table class="transaction-table">
        <tr>
            <!--{% if transaction.is_internal() %}
            <th>To</th>
            <th>From</th>
            {% elif transaction.transaction_type == TransactionType.SEND%}
            <th>To</th>
            {% else %}
            <th>From</th>
            {% endif %}-->
            <th>To</th>
            <th>From</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        <tr>
            {% if transaction.is_internal() %}
            <td>{{transaction.from_account.account_type.value.capitalize()}}</td>
            <td>{{transaction.to_account.account_type.value.capitalize()}}</td>
            {% else %}
            <td>{{transaction.to_account.user.username}}</td>
            <td>{{transaction.from_account.user.username}}</td>
            {% endif %}
            <td>{{ transaction.transaction_type.value.capitalize() }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.status.value}}</td>
        </tr>
        {% endfor %}
</div>

<h1>Cancelled Transactions</h1>
<!-- Include from in incoming transactions, to in outgoing transactions, and both in internal ones
     Make each transaction an individual table -->
<div id="cancelled_transactions">
    {% for transaction in user.get_cancelled_transactions() %}

    <table class="transaction-table">
        <tr>
            <!--{% if transaction.is_internal() %}
            <th>To</th>
            <th>From</th>
            {% elif transaction.transaction_type == TransactionType.SEND%}
            <th>To</th>
            {% else %}
            <th>From</th>
            {% endif %}-->
            <th>To</th>
            <th>From</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        <tr>
            {% if transaction.is_internal() %}
            <td>{{transaction.from_account.account_type.value.capitalize()}}</td>
            <td>{{transaction.to_account.account_type.value.capitalize()}}</td>
            {% else %}
            <td>{{transaction.to_account.user.username}}</td>
            <td>{{transaction.from_account.user.username}}</td>
            {% endif %}
            <td>{{ transaction.transaction_type.value.capitalize() }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.status.value}}</td>
        </tr>
        {% endfor %}
</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {

        const choice = document.getElementById("choice_field");
        const userField = document.getElementById("user_field");
        const accountFields = document.getElementById("account_fields");
        const amountField = document.getElementById("amount_field");

        function toggleFields() {
            if (choice.value === "between_users") {
                userField.style.display = "block";
                amountField.style.display = "block";
                accountFields.style.display = "none";
            }
            else if (choice.value === "between_accounts") {
                accountFields.style.display = "block";
                amountField.style.display = "block";
                userField.style.display = "none";
            }
            else {
                userField.style.display = "none";
                accountFields.style.display = "none";
                amountField.style.display = "none";
            }
        }

        choice.addEventListener("change", toggleFields);

        // Initial state
        toggleFields();

    });
</script>


{% endblock %}